#gugu {
  border: 10px solid purple;
}

h1 {
  color: #C900E1;
}

#gugu {
  background-color: #7605A4;
}

#bob {
  background-color: #7605A9;
}

h2 {
  color: #C900E1
}

#bob {
  border: 10px solid purple
}
